/* Page title */

/* Body style */
body {
    margin: 5%;
	font-family: Arial, sans-serif;
	background-color: rgb(239, 248, 255);
}

h1 {
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: rgb(53, 64, 113);
	color: rgb(201, 201, 201);
	border: 2px solid rgb(177, 177, 177);
	text-align: center;
}

h2 {
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: rgb(53, 64, 113);
	color: rgb(201, 201, 201);
	border: 2px solid rgb(177, 177, 177);
	text-align: center;
}

h3 {
	color: rgb(0, 0, 0);
	text-align: center;
	font-size: 30px;
}


/* Navigation bar */
nav ul {
	border: gray 1px solid;
	list-style-type: none;
	margin-top: 0;
	padding: 0;
	text-align: center;
}

nav li {
	display: inline-block;
	margin: 0;
}

nav li a {
	display: inline-block;
	color: black;
	text-decoration: none;
	text-align: center;
	padding: 14px 16px;
}

nav li a:hover {
	color: white;
	background-color: rgb(53, 64, 113);
}

/* Search box style */
.search-box {
    background-color: #f0f8ff; /* light blue */
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 30px auto;
    width: 60%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* Form elements inside the search box */
.search-box label {
    font-weight: bold;
    margin-bottom: 8px; 
}

/* Text input field style */
.search-box input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #f6f6f6;
    width: 40%;
}

/* Radio button style */
.substance-options {
    margin-top: 10px;
    margin-bottom: 10px;
}

.substance-options label {
    display: inline;
    font-weight: normal;
}

.substance-options div {
    margin-bottom: 5px;
}

.search-box input[type="radio"] {
    margin-right: 8px;
}

/* Submit button style */
.search-box button {
    background-color: rgb(53, 64, 113);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.search-box button:hover {
    background-color: rgb(53, 64, 113);
}

table {
	width: 100%;
	border-collapse: collapse;
	border:1px solid rgb(53, 64, 113);
}

th {
	background-color: rgb(53, 64, 113);
	color: rgb(201, 201, 201);
}


th,tr,td {
	padding: 10px;
}
tr:hover {background-color: gray;}
.tablecontainer {
	overflow-x: auto;
}