/* Page title */
h1 {
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: rgb(53, 64, 113);
	color: rgb(201, 201, 201);
	border: 2px solid rgb(177, 177, 177);
	text-align: center;
}

h2 {
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: rgb(53, 64, 113);
	color: rgb(255, 255, 255);
	border: 2px solid rgb(177, 177, 177);
	text-align: center;
}

h4 {
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: rgb(228, 64, 14);
	color: rgb(252, 255, 255);
	border: 2px solid rgb(177, 177, 177);
	text-align: center;
}

input[type=radio] {
    margin-left: 20px;
}

/* Navigation bar */
nav ul {
	border: gray 1px solid;
	list-style-type: none;
	margin-top: 0;
	padding: 0;
	text-align: center;
}

/* Each item in the nav bar should be displayed inline (horizontally) with no margin. */
nav li {
	display: inline-block;
	margin: 0;
}

/* Each link in the nav bar should be black with no underline, centered, and padded. */
nav li a {
	display: inline-block;
	color: black;
	text-decoration: none;
	text-align: center;
	padding: 14px 16px;
}

/* When you mouse over something in the nav bar, turn it blue. */
nav li a:hover {
	color: white;
	background-color: rgb(53, 64, 113);
}

/* Body style */
body {
    margin: 5%;
	font-family: Arial, sans-serif;
}

/* Search box style */
.search-box {
    background-color: #f0f8ff; /* light blue */
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 30px auto;
    width: 60%;
    /* text-align: center; */
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.search-box label {
    display: inline-block;
    width: 120px;
    font-weight: bold;
    margin-bottom: 8px; 
}

.search-box input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #f6f6f6;
    width: 40%;
}


.search-box button {
    background-color: rgb(53, 64, 113);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.search-box button:hover {
    background-color: rgb(53, 64, 113);
}
.search-box h2 {
    text-align: left;
    font-size: 1.2em;
    margin-bottom: 15px;
}
