<!DOCTYPE html>
<head>
        <meta charset="UTF-8">
        <title>404 error page</title>
        <link rel="stylesheet" href="../static/datastyle.css">
    </head>
<body>
        <h1>404 Not Found</h1>

        <p> Page not found. Ensure that you choose a substance type before selecting for year or state. Years included in this database are from 2002-2018. This database only included U.S states</p>
        <p>This is the link to get back to the homepage: 
            <link rel="homepage" href="http://137.22.5.171:5221/">

        </p>
