<!DOCTYPE html>
<html> 

    <head>
        <meta charset="UTF-8">
        <title>About the Data</title>
        <link rel="stylesheet" href="../static/datastyle.css">
    </head>

    <body>
        <h1>About the Data</h1>

        <nav>
            <ul>
                <li><a href='/'>Home</a></li>
                <li><a href='/state'>Search by State</a></li>
                <li><a href="/year">Search by Year</a></li>
                <li><a href="/about">About the Data</a></li>
            </ul>
        </nav>
    </body>

    <body>The data shown on the website was obtained from this website:
        <p>Please use this website freely!</p>
    </body>
</html>