<!DOCTYPE html>
<html> 

    <head>
        <meta charset="UTF-8">
        <title>About the Data</title>
        <link rel="stylesheet" href="../static/datastyle.css">
    </head>

    <body>
        <h1>About the Data</h1>

        <nav>
            <ul>
                <li><a href='/'>Home</a></li>
                <li><a href='/state'>Search by State</a></li>
                <li><a href="/year">Search by Year</a></li>
                <li><a href="/about">About the Data</a></li>
            </ul>
        </nav>
    </body>

    <body>
        <!-- Data Source Info -->
        <div>
            <h3>Data source</h3>
            <p>The primary dataset used in this project comes from the <a href="https://corgis-edu.github.io/corgis/csv/drugs/">CORGIS Drugs Dataset</a>, which provides data in spreadsheet format and was retrieved on April 27, 2020.</p>
            <p>Additional reference information was obtained from the <a href="https://pdas.samhsa.gov/#/">Substance Abuse and Mental Health Services Administration (SAMHSA)</a>.</p>
        </div>
        <p>Please use this website freely!</p>
    </body>
</html>