<!DOCTYPE html>
<!-- Referenc: https://www.youtube.com/watch?v=A7qwwmkFl3o  -->
<html lang="en"> 
    <head>
        <meta charset="UTF-8">
        <title> SAFEUS Homepage</title>
        <link rel="stylesheet" href="../static/Test_homepageCSS.css">
    </head>

    <body>
        <section class = "navigation bar">
        <nav>
            <ul>
                <div class="logo-text"><h1>SAFE<b>US</b></h1></div>
                <li class="active"><a href='/'>🏠 Home</a></li>
                <li><a href='/state'>🔎 Search by State</a></li>
                <li><a href="/year">🔎 Search by Year</a></li>
                <li><a href="/about">🗂️ About the Data</a></li>
                
            </ul>
        </nav>
        </section>

        <section class="grid">
            <div class="content">
                <div class="content-left">
                    <div class="info">
                        <!-- <h1>Substance Abuse Free in US</h1> -->
                        <h2>Search Data about <br> Substance Abuse </h2>
                        <p>Reading through CSVs and Excel could be tiring😫.<br>SAFE US is a website providing online search service for CORGIS Dataset Project</p>
                    </div>
                    
                    <button href="/start_explore">Start Exploring</button>
                    <div class="acronym ">
                        <p>SAFEUS stands for: </p>
                        <p><b>S</b>ubstance</p>
                        <p><b>A</b>buse</p>
                        <p><b>F</b>ree</p>
                        <p><b>E</b>nvironment</p>
                    </div>
                
                </div>
                <div class="content-right">
                    <img src="../images/4in1-image.png" alt=" ">

                </div>

                <p>To learn more about substance in the database<br><b>Scroll Down⬇️</b></p>
            </div>
        </section>


        <!-- Scroll next page

        <section class="substance-introduction">
            <div class="Alcohol-introduction">
                <h3>Alcohol</h3>
                <div class ="left-container">
                    <p></p>
                </div>
                <div class="right-container">
                    <img src="Images/Alcohol.png" alt=" ">
                </div>
                <p></p>
            </div>
            <div class="Cocaine-introduction">
                <h3>Cocaine</h3>
                <div class="left-container">
                    <img src="Images/Cocaine.png" alt=" ">
                </div>
                <div class="right-container">
                    <p></p>
                </div>
                <p></p>
            </div>
            <div class="Marijuana">
                <h3>Marijuana</h3>
                <div class ="left-container"></div>
                <div class="right-container"></div>
                    <p></p>
                
                
            </div>
            <div class="Tobacco-introduction">
                <h3>Tobacco</h3>
                <div class="right-container"></div>
                <div class="left-container"></div>
                <p></p>
            </div> -->

            <!-- Educational Section -->
        <div class="Purpose">
            <h3>Why Explore This Data?</h3>
            <p>Drug use affects individuals and society in complex ways. Understanding the data behind usage trends can empower people to make informed decisions and inspire public health initiatives as shown in <a href="https://www.justice.gov/archive/ndic/pubs11/18862/impact.htm"> National Drug Intelligence Center</a> page.</p>
            <p>Exploring this data helps reveal important trends in substance use across the United States. It provides valuable insights that can guide research, public health policies, and prevention programs.</p>
            
            <br><br>

            <h4>By exploring this data, you can:</h4>
            <ul>
                <li>View trends over time for different substances.</li>
                <li>Compare usage rates across states.</li>
                <li>Identify patterns that may inform prevention and treatment efforts.</li>
                <li>Understand how drug and alcohol use varies by age group.</li>
                <li>Support data-driven decisions that promote healthier communities</li>
            </ul>
        </div>







</section>









    </body>
    
