<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="UTF-8">
        <title>Substance User Disorder in U.S.</title>
        <link rel="stylesheet" href="../static/Test_homepageCSS.css">
    </head>
    
    <body>
        <nav>
            <ul>
                <li><a href='/'>Home</a></li>
                <div class="logo-text">
                <li><a href='/state'>🔎 Search by State</a></li>
                <li><a href="/year">🔎 Search by Year</a></li>
                <li><a href="/about">🗂️ About the Data</a></li>
                </div>
            </ul>
        </nav>
        <h1></h1>
    </body>
   
    
