<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="UTF-8">
        <title> Substance User Disorder in U.S.</title>
        <link rel="stylesheet" href="../static/Test_homepageCSS.css">
    </head>

    <body>
        <section class = "navigation bar">
        <nav>
            <ul>
                <div class="logo-text"><h1>SAFE<b>US</b></h1></div>
                <li class="active"><a href='/'>🏠 Home</a></li>
                <li><a href='/state'>🔎 Search by State</a></li>
                <li><a href="/year">🔎 Search by Year</a></li>
                <li><a href="/about">🗂️ About the Data</a></li>
                
            </ul>
        </nav>
        </section>
        <h1>Substance Abuse Free in US</h1>

        <div>
            <input class ="SearchButton" type="submit",value ="Start_Search", name ="Start-Search">
        </div>

        <section>

        </section>




    </body>
    
