<!DOCTYPE html>
<html> <!-- all pages start and end with this tag -->
<!-- Header information: links to external scripts and style files, other metadata about the page. -->
<head>
<!-- The title is mandatory. If you use tabs, the title appears in the page's tab in your browser.-->
<title>{{yeardisplay}}</title>
<link rel="stylesheet" href="../static/datastyle.css">

</head>
<!-- The body consists of the visible parts of the web page. -->
<body>
<h4>{{yeardisplay}}</h4>

<p>{{yeardatadisplay}}</p>


</html>