<!DOCTYPE html>
<html> 

    <head>
        <meta charset="UTF-8">
        <title>{{yeardisplay}}</title>
        <link rel="stylesheet" href="../static/datastyle.css">
    </head>

    <body>
        <h1>Search by Year and Substance</h1>

        <nav>
            <ul>
                <li><a href='/'>Home</a></li>
                <li><a href='/state'>Search by State</a></li>
                <li><a href="/year">Search by Year</a></li>
                <li><a href="/about">About the Data</a></li>
            </ul>
        </nav>

        <!-- Combined Search Form -->
        <div class="search-box">
            <h2> Search by Year and Substance</h2>
            <form onsubmit="event.preventDefault(); const year = document.getElementById('year').value; const substance = document.querySelector('input[name=\'substancechoice\']:checked').value; window.location.href = `/year/${year}/substance/${substance}`;">
                <label for="year">Enter a Year (2002-2018):</label>
                <input type="text" id="year" name="year" pattern ="[0-9]+" placeholder="Enter a year between 2002 and 2018">

                <br><br>

                <label>Select a Substance:</label>
                
                <input type="radio" id="Cocaine" name="substancechoice" value="Cocaine">
                <label for="Cocaine">Cocaine</label>
                
                <input type="radio" id="Tobacco" name="substancechoice" value="Tobacco">
                <label for="Tobacco">Tobacco</label>
                
                <input type="radio" id="Marijuana" name="substancechoice" value="Marijuana">
                <label for ="Marijuana">Marijuana</label>
                
                <input type="radio" id="Alcohol" name="substancechoice" value="Alcohol">
                <label for ="Alcohol">Alcohol</label>
                
                <button type="submit">Search</button>
            </form>
    </body>
</html>